button:focus {
  outline: none !important;
  outline-offset: none !important;
}

.App {
  text-align: center;
  font-family: Futura PT;
}

.TouchBlocker {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  z-index: 1999;
}

/* Text Styles */

.txt-label {
  padding: 5px 0px 5px 3px;
  font-size: 1.5rem;
  font-weight: 900;
}

.txt-biglabel {
  padding: 5px 0px 5px 3px;
  font-size: 2.5rem;
  font-weight: 900;
}



/* Button/Icon Styles */

.btn-control {
  margin: 20px;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-play {
  /* background-color: rgb(251, 210, 204); */
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-topicon {
  background-color: rgba(0,0,0,0);
  border: none;
  height: 1.5rem;
  width: 1.5rem;
}

.btn-icon {
  background-color: rgba(0,0,0,0);
  border: none;
  width: 3.3rem;
  height: 3.3rem;
}

.icon {
  font-size: 1.5rem;
  color: rgb(116, 116, 116);
  transition: transform 0.5s;
}

.largeicon {
  font-size: 2rem;
  color: white;
}

.playicon {
  font-size: 2.2rem;
  color: white;
  margin-left: 4px;
}

/* Header Styles */

.MainScreenHeader {
  top: 0;
  width: 100%;
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 6rem;
}

.Header {
  top: 0;
  width: 100%;
  padding: 15px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 6rem;
}

.btn-righticon {
  margin-left: auto;
  margin-right: 5px;
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0px;
  width: 1.2rem;
  height: 1.2rem;
  z-index: 2001;
}

@keyframes dropdown {
  from {height: 0px;}
  to {height: 200px;}
}

@keyframes dropdown-large {
  from {height: 0px;}
  to {height: 450px;}
}

.droptest {
  animation-name: dropdown;
  animation-duration: 0.5s;
  position: absolute;
  top: 30px;
  right: 18px;
  z-index: 2000;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 45px 20px 15px 20px;
  overflow: hidden;
}

.droptest-banner {
  animation-name: dropdown-large;
  animation-duration: 0.5s;
  position: absolute;
  bottom: 0px;
  z-index: 2000;
  height: 450px;
  width: 100%;
  /* padding: 40px; */
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 45px 20px 15px 20px;
  overflow: hidden;
}

.drop-button-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(65, 65, 65);
  padding: 5px 0px 0px 0px;
}

.drop-bannerbutton-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(65, 65, 65);
  padding: 5px 0px 0px 0px;
}

.drop-songinfo {
  
}

.drop-songimage {
  width: 20vh;
  height: 20vh;
}

.drop-button {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* Miniplayer Styles */

.miniplayer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 9.5rem;
  background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), white);
  overflow: hidden;
}

.miniplayer {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: Calc(45px + 1.8rem);
}

.img-minicoverart {
  height: 100%;
  
}

.miniplaybutton {
  height: 100%;
  width: Calc(45px + 1.8rem);
  border-radius: 15px 0px 0px 15px;
  border: none;
}

.wrapper-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.txt-minititle {
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.txt-minisubtitle {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 400;
}

.btn-miniplayericon {
  background-color: rgba(0,0,0,0);
  border: none;
  width: 2rem;
  height: 4rem;
  margin-left: auto;
  margin-right: 10px;
}

/* ListMenu Styles */

.playlisttop-wrapper {
  height: 26vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlistinfo-container {
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
}

.playlist-search-container {
  padding: 20px 30px 15px 30px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playlist-cover {
  width: Calc(26vh - 4rem);
  height: Calc(26vh - 4rem);;
  /* max-height: 200px;
  max-width: 200px; */
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.playlist-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.txt-playlistinfo {
  text-align: left;
}

.txt-playlisttitle {
  font-size: 1.4rem;
  font-weight: bold;

  text-align: left;
}

.search-bar {
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  font-weight: 500;
  font-size: 0.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 15px;
}

/* Track Styles */

.track-container {
  padding: 10px 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track-button {
  background: none;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track-img {
  height: 7vh;
  width: 7vh;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.track-dots {
  margin-left: auto;
  height: 4vh;
  width: 4vh;
  z-index: 100;
}

.track-textwrapper {
  height: 7vh;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.curtrack-container {
  padding: 10px 40px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
  color: red;
}

.txt-tracktitle {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

.txt-trackinfo {
  text-align: left;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(200, 200, 200);
}

.track-list {
  width: 100%;
  height: Calc(74vh - 6rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.playlist-list {
  width: 100%;
  height: Calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* ProgressBar Styles */

.progressbar-container {
  height: 15px;
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.progressbar-bar {
  background-color: rgb(200, 200, 200);
  height: 20%;
}

/* ProgressSlider Styles */

.progressslider-wrapper {
  padding: 20px 20px;
}

.progressslider-container {
  width: 100%;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 30px;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.progressslider-bar {
  transition: background-color 0.1s ease;
  height: 40px;
  /* inline: backgroundImage: 'linear-gradient(to right, ' + color + ', ' + accent + ')' */
}

.progressslider {
  appearance: none;
  background: none;
  height: 0px;
}

.progressslider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 80px;
  background-color: rgba(0,0,0,0);
}

.time-row {
  position: absolute;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 13px;
  font-weight: 500;
}

.right-time {
  margin-left: auto;
}

/* Playlist Styles */

.playlistlist-container {
  padding: 20px 40px 15px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.img-playlistlistcover {
  height: 10vh;
  width: 10vh;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.playlistlist-textcontainer {
  padding: 12px 15px;
}

.mainscreen-tabs {
  padding: 0px 30px;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}