
.App {
  text-align: center;
}

/* Text Styles */

.txt-label {
  padding: 10px 10px 10px 3px;
  font-size: 1.5rem;
  font-weight: bold;
}

.txt-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.txt-subtitle {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: bold;
}

/* Button/Icon Styles */

.btn-control {
  margin: 20px;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-play {
  background-color: rgb(251, 210, 204);
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-icon {
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0px;
}

.icon {
  font-size: 1.5rem;
  color: rgb(116, 116, 116);
}

.largeicon {
  font-size: 2.2rem;
  color: white;
}

.playicon {
  font-size: 2.2rem;
  color: white;
  margin-left: 4px;
}

/* Header Styles */

.Header {
  width: 100%;
  padding: 30px 30px 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-plus {
  margin-left: auto;
}

/* MusicInfo Styles */

.MusicInfo {
  padding: 5px 20px;
}

.img-coverart {
  width: 100%;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MusicPlayer Styles */

.Controller {
  padding: 0px 20px 20px;
}

.control-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.right-time {
  margin-left: auto;
}
