@font-face {
  font-family: 'Futura PT';
  src: local('Futura'), url('./fonts/Futura_PT_Book.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
